You are given a data set of [Chipotle orders](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). You're asked to figure out the average order price and the average price per item ordered. Can you describe how you would do this using Python Pandas?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle = pd.read_csv(url, sep = '\t')
chipotle.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipotle.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [3]:
chipotle['item_price']=chipotle.item_price.apply(lambda x: x.strip('$'))

In [ ]:
chipotle.head(5)

In [ ]:
chipotle.drop('choice_description', axis =1, inplace = True)
chipotle.head(5)

In [ ]:
chipotle['total_price_per_item'] = chipotle['item_price'] * chipotle['quantity']
chipotle.head(10)

In [ ]:
total_price_per_order = chipotle.groupby(['order_id'])[["total_price_per_item", "quantity"]].sum().reset_index()

In [ ]:
total_price_per_order

In [ ]:
average_order_price = total_price_per_order['total_price_per_item'].mean()
average_order_price