This is designed to pull in the complete list of sports for which odds are currently available

In [1]:
#import packages
import json
import requests
import pandas as pd
import inquirer

In [2]:
#You can obtain an API key at https://the-odds-api.com/#get-access
#They offer a free key with a limit of 500 request per month or reasonably month subscriptions that
#have much higher limits.
api_key = '53b2f82655678dcededa06b29f097a0c'

In [3]:
#This is the endpoint to pull in their list of sports.
#Using all and outrights are both optional
#You can set both of them to either 'true' or 'false'.
#If they aree not included, all will default to false and outrights will default to true
#All will retreive a sport whether or not their is currently a market for it.
#Outrights will retrieve the odds for the overall winner of an event such as who will will the Super Bowl.
#For demonstration purposes I have set both of them to true to show the full spectrum of available sports.

sports_response = requests.get('https://api.the-odds-api.com/v4/sports', params={
    'api_key': api_key,'all':'true','outrights':'true'})

#convert the response to a json.
sports_json = json.loads(sports_response.text)

#This will display your subscription usage for the month.
print('Remaining requests', sports_response.headers['x-requests-remaining'])
print('Used requests', sports_response.headers['x-requests-used'])

Remaining requests 417
Used requests 83

In [4]:
#convert the json to a dataframe
columns=['Sport', 'Detail','Key','Outrights','Active']
sports_list=pd.DataFrame(columns = columns)
for i in range(0,len(sports_json)):
    sports_list=sports_list.append(pd.Series([sports_json[i]['group'],
                                          sports_json[i]['title'],
                                          sports_json[i]['key'], sports_json[i]['has_outrights'],
                                        sports_json[i]['active']],index = columns),ignore_index = True)

In [5]:
#show the list of available sports, whether they offer outrights and are currently active
sports_list

#Sport is the overall type of sports.
#Detail is the league or name of the event.
#Key is the short name that the API uses to retrieve that specific sport.
#The key field is feautured in my other notebooks.

,Sport,Detail,Key,Outrights,Active
0,American Football,NCAAF,americanfootball_ncaaf,False,False
1,American Football,NFL,americanfootball_nfl,False,False
2,American Football,NFL Super Bowl Winner,americanfootball_nfl_super_bowl_winner,True,True
3,Aussie Rules,AFL,aussierules_afl,False,True
4,Baseball,MLB,baseball_mlb,False,False
...,...,...,...,...,...
69,Tennis,ATP Wimbledon,tennis_atp_wimbledon,False,False
70,Tennis,WTA Australian Open,tennis_wta_aus_open_singles,False,False
71,Tennis,WTA French Open,tennis_wta_french_open,False,False
72,Tennis,WTA US Open,tennis_wta_us_open,False,False
73,Tennis,WTA Wimbledon,tennis_wta_wimbledon,False,False

In [6]:
#This is the begining of future code that will all the user to pick the sport they would like to retrieve.
#First I turn the Detail and Key columns from the dataframe into lists.
long_name = sports_list['Detail'].tolist()
short_name = sports_list['Key'].tolist()

#This creates a dictionary with the Detail (long_name) as the key and Key (short_name) as the value.
sport_dict={}
for q in range(0,len(long_name)):
    sport_dict[long_name[q]]=short_name[q]

#This produces a numbered list where the user will that the option to select the sport they would like to see.
i=1
for s in sport_dict:
    print(i,":",s)
    i=i+1
sport_dic=list(sport_dict.values())
dic=int(input("Select a sport:"))
dic=dic-1

1 : NCAAF
2 : NFL
3 : NFL Super Bowl Winner
4 : AFL
5 : MLB
6 : MLB World Series Winner
7 : Basketball Euroleague
8 : NBA
9 : NBA Championship Winner
10 : NCAAB
11 : Big Bash
12 : ICC World Cup
13 : IPL
14 : One Day Internationals
15 : Test Matches
16 : Masters Tournament Winner
17 : PGA Championship Winner
18 : The Open Winner
19 : US Open Winner
20 : NHL
21 : NHL Championship Winner
22 : HockeyAllsvenskan
23 : SHL
24 : MMA
25 : US Presidential Elections Winner
26 : NRL
27 : Africa Cup of Nations
28 : Primera DivisiÃ³n - Argentina
29 : A-League
30 : Belgium First Div
31 : Brazil SÃ©rie A
32 : Super League - China
33 : Denmark Superliga
34 : Championship
35 : EFL Cup
36 : League 1
37 : League 2
38 : EPL
39 : FA Cup
40 : FIFA World Cup
41 : Veikkausliiga - Finland
42 : Ligue 1 - France
43 : Ligue 2 - France
44 : Bundesliga - Germany
45 : Bundesliga 2 - Germany
46 : Serie A - Italy
47 : Serie B - Italy
48 : J League
49 : K League 1
50 : League of Ireland
51 : Liga MX
52 : Dutch Eredivisie
53 : Eliteserien - Norway
54 : Primeira Liga - Portugal
55 : Premier League - Russia
56 : La Liga - Spain
57 : La Liga 2 - Spain
58 : Premiership - Scotland
59 : Allsvenskan - Sweden
60 : Superettan - Sweden
61 : Swiss Superleague
62 : Turkey Super League
63 : UEFA Champions
64 : UEFA Europa
65 : UEFA Euro 2020
66 : MLS
67 : ATP Australian Open
68 : ATP French Open
69 : ATP US Open
70 : ATP Wimbledon
71 : WTA Australian Open
72 : WTA French Open
73 : WTA US Open
74 : WTA Wimbledon
Select a sport:5

In [7]:
#Testing the result of my interactive list.
sport_dic[dic]

'baseball_mlb'