Given the table below, called 'orders', write code to show the average revenue by month by channel:

In [1]:
import pandas as pd
raw_data = {'order_id': [1,2,3,4,5,6],
            'channel': ['Online', 'Online', 'In_store', 'In_store','Online','Online'],
            'date': ['2018-09-01', '2018-09-03', '2018-10-11', "2018-08-21","2018-08-13",'2018-10-29'],
            'month': ['09', '09', '10', '08','08','10'],
            'revenue': [100,125,200,80,200,100]}
df = pd.DataFrame(raw_data, columns = ['order_id', 'channel', 'date','month', 'revenue'])
df

   order_id   channel        date month  revenue
0         1    Online  2018-09-01    09      100
1         2    Online  2018-09-03    09      125
2         3  In_store  2018-10-11    10      200
3         4  In_store  2018-08-21    08       80
4         5    Online  2018-08-13    08      200
5         6    Online  2018-10-29    10      100

Your result should return the following in a structured table:

<pre>Month | Channel | Avg. Revenue</pre>

In [2]:
#create new dataframe with only the needed columns
df = df[['channel', 'month', 'revenue']]

#pivot the dataframe
#group by month and channell
df_pivot = df.groupby(['month','channel']).mean().reset_index()
df_pivot=df_pivot.rename(columns = {'revenue':'avg_revenue'})
df_pivot

  month   channel  avg_revenue
0    08  In_store         80.0
1    08    Online        200.0
2    09    Online        112.5
3    10  In_store        200.0
4    10    Online        100.0