You are given a data set of [Chipotle orders](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). You're asked to figure out the average order price and the average price per item ordered. Can you describe how you would do this using Python Pandas?

In [1]:
#import packages
import pandas as pd
import numpy as np

In [2]:
#read in dataframe
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle = pd.read_csv(url, sep = '\t')
chipotle.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
#examine the data type of each column
chipotle.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [4]:
#remove dollar sign from item price column
chipotle['item_price']=chipotle.item_price.apply(lambda x: x.strip('$'))

In [5]:
#convert column from string to float
chipotle['item_price'] = chipotle.item_price.astype(float)

In [6]:
chipotle.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [7]:
#add a total price per item column
chipotle['total_price_per_item'] = chipotle['item_price'] * chipotle['quantity']
chipotle.head(5)

,order_id,quantity,item_name,choice_description,item_price,total_price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [8]:
#create dataframe of just orders id's, price per item and quantity
total_price_per_order = chipotle.groupby(['order_id'])[["total_price_per_item", "quantity"]].sum().reset_index()
total_price_per_order.head(5)

   order_id  total_price_per_item  quantity
0         1                 11.56         4
1         2                 33.96         2
2         3                 12.67         2
3         4                 21.00         2
4         5                 13.70         2

In [9]:
#calculate average price per order
average_order_price = total_price_per_order['total_price_per_item'].mean().round(2)
average_order_price

21.39

In [10]:
# calculating average price per item ordered
average_price_per_item = chipotle['item_price'].mean().round(2)
average_price_per_item

7.46