Suppose you are given a dataframe (called df) of students, and you need to assign grades to each student. The table schema is as follows:

In [1]:
import pandas as pd

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                'age': [20, 19, 22, 21],
                'favorite_color': ['blue', 'blue', 'yellow', "green"],
                'grade': [88, 92, 95, 70]}

df = pd.DataFrame(raw_data)
df.head()

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings   19           blue     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel   21          green     70

You need to assign the following letter grades based on final_grade_pct in a new column named "final_grade_letter":
>90 - A
81-90 - B
71-80 - C
71-80 - C
<70 - D
Write a function using Python to loop through the table and assign the appropriate letter grades to each student, adding a new column to the existing dataframe, df.

In [2]:
#create empty array
final_grade = []


for g in df['grade']:
   if g > 90:
       final_grade.append('A')    
   elif g > 80:
       final_grade.append('B')    
   elif g > 70:
       final_grade.append('C')    
   else:
       final_grade.append('D')    

# add final grade to dataframe
df['final_grade_letter'] = final_grade
df.head()

               name  age favorite_color  grade final_grade_letter
0    Willard Morris   20           blue     88                  B
1       Al Jennings   19           blue     92                  A
2      Omar Mullins   22         yellow     95                  A
3  Spencer McDaniel   21          green     70                  D